* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	/* 1rem = 16 (User Agent) = 100% (User Agent) */
	font-size: 62.5%;
	/* 10px */
}

body {
	background: #F5F7FF;
	font-size: 1.6rem;
	overflow-x: none;
}